* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #efefef;
}

a:visited {
    color: #ccc;
}

html, 
body, 
#root {
    display: block;
    border: 0;
    height: 100%;
}

input:focus, 
textarea:focus, 
button:focus {
    outline: none;
}