.Sketcher {
    margin: 0;
    background: #111;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__Window {
        position: relative;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background: url(../../Assets/Icons/grid-cross.png) repeat;
        background-size: 2.5em;
        padding: 2em;
        gap: 2em;
    }
}