@import "../../Assets/Styles/variables";

.Header {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    padding: 0 1em;
    background: #212121;
    color: #fff;
    transition: all 0.2s ease-in-out;

    a {
        transition: all 0.2s ease-in-out;
        text-decoration: none;    
        
        &:hover {
            color: $color__accent;
        }
    }

    &__Logo {
        display: flex;
        gap: .5em;
        padding: 1em 0;
        font-weight: bold;

        span {
            font-weight: lighter;
            color: rgba(204, 204, 204, 0.757);
        }
    }

    &__Menu {
        display: flex;
        gap: 1em;

        &__Item {
            display: flex;
            align-items: center;

            &--account {
                p span {
                    color: #888888;
                }
            }

            div {
                background: $color__accent;
                height: 1.6em;       
                width: 1.6em; 
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 2000px;
                margin-right: .5em;
            }
        }
    }
}