.Header {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    padding: 0 1em;
    background: #212121;
    color: #fff;

    &__Logo {
        display: flex;
        gap: .5em;
        padding: 1em 0;
        font-weight: bold;

        span {
            font-weight: lighter;
            color: rgba(204, 204, 204, 0.757);
        }
    }

    &__Menu {
        display: flex;
        gap: 1em;

        &__Item {
            display: flex;
            align-items: center;

            img {
                background: #ccc;
                height: 1.6em;       
                width: 1.6em; 
                display: flex;
                border-radius: 2000px;
                margin-right: .5em;
            }
        }
    }
}