@import "../../Assets/Styles/_variables.scss";

.MenuBar {
    background: $color__darkAccent;
    color: $color_general_white;
    display: flex;
    padding: 0 1em;
    align-items: center;

    &__Button {
        display: flex;
        align-items: center;
        border-bottom: solid 2px transparent;
        padding: 1.2em 1em;
        gap: 0.5em;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: lighten($color__darkAccent, 5%);
        }

        img {
            width: 1.3em;
        }

        &--active {
            color: #fff;
            background: lighten($color__darkAccent, 10%);
            border-bottom-color: $color__accent;
        }

        &--save {
            span {
                color: #666;
                font-size: 0.9em;
            }
        }
    }
}
