.Main {
    width: 100%;
    height: 100%;
    background: #efefef;

    &__Content {

        &--Overflow {
            overflow-y: scroll;
        }
    }

    &__Sketcher {
        display: flex;
        flex-direction: column;
    }
}