.Cargo {
    position: absolute;
    border-radius: 2px;
    border: solid 1px #333;
    user-select: none;

    &__Container {
    }

    &__Box {
    }

    &__Preview {
        border: solid 1px red;
    }

    &--hazardous {
        background: rgba($color: #f43232, $alpha: 0.2)
        
    }

    &--selected {
        border-color: rgb(245, 72, 72);
        border-width: 2px;
    }

    &__Description {
        padding: .2em;
        font-size: .8em;
        display: flex;
        flex-direction: column;
    }

}