.Cargo {
    position: absolute;
    border-radius: 2px;
    border: solid 1px #333;

    &__Container {
    }

    &__Box {
    }

    &--selected {
        border-color: rgb(245, 72, 72);
        border-width: 2px;
    }

    &__Description {
        padding: .2em;
        font-size: .8em;
        display: flex;
        flex-direction: column;
    }

}