.Ship__Deck {
    position: absolute;
    min-width: 50px;
    min-height: 50px;
    border: solid 1px #333;
    background-color: #efefef;
    border-radius: 4px;

    &__Selection {
        position: absolute;
        z-index: 9999;
        border: solid 1px #ccc;
        background:rgba(0, 0, 0, 0.02);
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}