@import '../../Assets/Styles/variables';

.Form {
    margin: auto;
    display: flex;
    flex-direction: column;

    input, 
    button {
        padding: .5em 1em;
        border-radius: 2px;
        border: solid 1px transparent;
        min-height: 3em;
    }

    input[type="submit"]:enabled {
        background-color: $color__general;
        color: #fff;
    }
}