@import "../../Assets/Styles/variables";

.CreationPanel {
    display: flex;
    justify-content: center;
    min-width: 40em;

    input {
        font-size: .9em;
        padding: 0.5em 1em;
        border-radius: 2px;
        border: solid 2px transparent;
        min-height: 3em;
        transition: border .3s ease-in-out;

        &:focus {
            border: solid 2px $color__accent;
        }
    }

    &__Main {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        justify-content: space-between;
        margin-bottom: .5em;

        &__ShipName {
            flex-grow: 1;
        }

        &__ShipDestination {
            flex-grow: 1;
        }

        &__AddDeck {
            width: 7em;
        }
    }

    &__Deck {
        display: flex;
        flex-direction: column;

        &__Element {
            display: flex;
            flex-direction: column;
            margin: 1em 0;

            &__Title {        
                font-size: .9em;
                text-transform: uppercase;
                font-weight: bold;
                margin-bottom: .7em;
            }
    
            &__Inputs {
                display: flex;
                flex-direction: row;
                gap: 0.5em;

                fieldset {
                    display: flex;
                    flex-direction: column;
                    border: none;
                    text-align: center;
                    flex-grow: 1;

                    label {
                        margin-bottom: 0.3em;
                        font-size: 0.9em;
                    }

                    button {
                        flex-grow: 1;
                        background: #e84128;
                        color: #fff;
                        font-weight: bold;                        
                    }
                }
            }
        }
    }

    &__Submit {
        margin-top: .5em;
        font-size: 1em;
    }

    h1 {
        color: white;
        font-size: 1em;
        text-align: center;
        margin-bottom: 1em;
    }
}
