@import "../../Assets/Styles/variables";

.CreationPanel {
    display: flex;
    justify-content: center;
    font-size: 1em;

    &__Category {
        text-transform: uppercase;
        font-size: .8em;
        font-weight: bold;
        color: #737e83;
        display: flex;
        text-align: center;
        margin-bottom: 1em;

        &:not(:first-child) {
            margin-top: 1em;
        }
    }

    input, button {
        padding: .8em 1em;
        border-radius: 4px;
        border: solid 2px transparent;
        background: #151515;
        min-height: 3em;
        transition: all 0.15s ease-in-out;
        color: #fff;
    }

    button {
        font-weight: bold;
        background-color: $color__general;
    
        &:hover {
            background-color: darken($color__general, 10%);
            cursor: pointer;
        }

        &:focus {
            background: darken(#151515, 3%);
            border-color: $color__accent;
            color: #fff;
        }
    }

    input {
        &:hover {
            background: darken(#151515, 3%);
        }
    
        &:focus {
            background: darken(#151515, 3%);
            border-color: $color__accent;
            color: #fff;
        }
    }

    input[type="submit"] {
        font-weight: bold;
        color: #777;

        &:enabled {
            background-color: $color__general;
            color: #fff;

            &:hover {
                background-color: darken($color__general, 10%);
                cursor: pointer;
            }
        }
    }

    button[name="delete"] {
        background: #e84128;
        color: #fff;
        font-weight: bold;  

        &:hover {
            background: darken(#e84128, 10%);
        }
    }

    &__Main {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: space-between;
        margin-bottom: .5em;

        &__ShipName {
            flex-grow: 1;
        }

        &__ShipDestination {
            flex-grow: 1;
        }

        &__AddDeck {
            width: 7em;
        }
    }

    &__Deck {
        display: flex;
        flex-direction: column;

        &__Element {
            display: flex;
            border-radius: 4px;
            flex-direction: column;
            background-color: #1e1e1e;

            &:not(:last-child) {
                margin-bottom: 1em;
            }
    
            &__Inputs {
                display: flex;
                flex-direction: row;
                gap: 0.7em;
                justify-content: space-between;
            }
        }
    }

    &__Buttons {
        display: flex;
        justify-content: flex-end;
        gap: 1em;
    }
}