@import "../../Assets/Styles/variables";

.AuthForm {
    display: flex;
    flex-direction: column;

    &__Input,
    &__Submit {
        font-size: 14px;
        padding: .8em 1em;
        border-radius: 4px;
        border: solid 2px transparent;
        background: #151515;
        min-height: 3em;
        transition: all 0.2s ease-in-out;
        color: #ccc;
    }

    &__Submit {
        font-size: 0.9em;
        font-weight: bold;

        &:enabled {
            background-color: $color__general;
            color: #fff;
        }
    
        &:hover {
            background-color: darken($color__general, 10%);
            cursor: pointer;
        }
    }

    &__Input {
        &:not(:last-child) {
            margin-bottom: 1em;
        }
    
        &:hover {
            background: darken(#151515, 3%);
        }
    
        &:focus {
            background: darken(#151515, 3%);
            border-color: $color__accent;
            color: #fff;
        }
    
        &--error, 
        &--error:focus {
            border: solid 2px #b1311e;
        }
    }

    &__ErrorMessage {
        color: #fff;
        border-radius: 4px;
        padding: 0.5em 1em;
        margin-bottom: 1em;
        background-color: #b1311e;
    }
}
