@import "../../Assets/Styles/variables";

.LoadingPanel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .3s ease-in-out;
    min-width: 10em;

    &__Spinner {
        display: flex;
        justify-content: center;
        padding: 1em;
    }

    &__Category {
        text-transform: uppercase;
        font-size: 0.7em;
        font-weight: bold;
        color: #737e83;
        display: flex;
        text-align: center;
        margin-bottom: 0.5em;

        &:not(:first-child) {
            margin-top: 1em;
        }
    }

    &__Content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
        row-gap: 1em;
    }
}

.SketchElement {
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    &:hover &__Buttons button { opacity: 1; }

    &__Decks {
        margin-bottom: .8em;
    }

    &__Buttons {
        margin-top: auto;
        display: flex;
        gap: .5em;
        justify-content: space-between; 
        transition: all .3s ease-in-out;

        button {
            opacity: .5;
            padding: .5em 1em;
            font-weight: bold;
            font-size: 1em;
            color: #ccc;
            border-radius: 4px;
            border: solid 2px #555;
            transition: all 0.2s ease-in-out;
            color: #fff;
            background-color: #212121;
            text-align: center;
            cursor: pointer;
            justify-content: center;
            flex-grow: 1;
            display: flex;
            align-items: center;
        }

        &--load {
            &:hover { background: darken($color__general, 10%); color: #fff; border-color: transparent; }
        }
        &--delete {
            &:hover { background: darken($color__warning, 10%); color: #fff; border-color: transparent; }
        }
    }
    
    p { 
        color: #777;
        font-style: italic;
        display: flex;
        justify-content: space-between;
        gap: .5em;

        span {
            color: #fff;
            font-style: normal;
        }
    }

    &__Name p {
        font-style: normal;
        color: #fff;
        font-weight: bold;
        text-align: center;
        margin-bottom: .3em;
    }
}