.Box {
    border-radius: 3px;
    background-color: #212121;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    min-width: 13em;
    box-shadow: 0 0 10px 6px rgb(0, 0, 0, 0.15);
    animation: box-shadow 0.3s ease-in-out;
    user-select: none;
    -webkit-user-drag: none;

    &__Handle {
        cursor: grab;
        color: #b1b1b1;
        text-align: center;
        background: #333;
        font-size: 0.8em;
        padding: 0.3em 0.7em;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 3px 3px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__Icon {
            width: 1.2em;
            height: 1.2em;
            opacity: 0.5;
        }

        &__Action {
            cursor: pointer;
        }
    }

    &--Dragging {
    
        box-shadow: 0 0 10px 10px rgb(0, 0, 0, 0.15);
    }

    &__Content {
        padding: 1em;
        color: #fff;
    }
}
