@import '../../Assets/Styles/_variables.scss';

.MenuBar {
    background: $color_general_black;
    color: $color_general_white;
    display: flex;

    padding: 0 1em;
    align-items: center;

    &__Button {
        display: flex;
        align-items: center;
        margin-right: .3em;
        padding: .5em;
        cursor: pointer;

        &--create {

        }

        &--save {

            span {
                margin-left: .5em;
                color: #666;
                font-size: .8em;
            }
        }
    }

    &__Button:hover {
        background: lighten(#2e2e2e, 5%);
    }
}