.Box {
    border-radius: 3px;
    background-color: #212121;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    z-index: 9999;
    position: absolute;
    min-width: 13em;
    box-shadow: 0 0 10px 6px rgb(0, 0, 0, 0.15);

    &__Handle {
        cursor: grab;
        color: #b1b1b1;
        text-align: center;
        background: #333;
        font-size: .8em;
        padding: .3em;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 3px 3px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 1.2em;
            height: 1.2em;
        }

        &__Action {
            cursor: pointer;
        }
    }

    &__Content {
        padding: 1em;
        color: #fff;
    }
}